[submodule "projects/monitoring-plugin"]
	path = projects/monitoring-plugin
	url = http://github.com/openshift/monitoring-plugin
	branch = main
[submodule "projects/console"]
	path = projects/console
	url = http://github.com/openshift/console
	branch = main
[submodule "projects/logging-view-plugin"]
	path = projects/logging-view-plugin
	url = http://github.com/openshift/logging-view-plugin
	branch = main
[submodule "projects/perses"]
	path = projects/perses
	url = http://github.com/perses/perses
	branch = main
[submodule "projects/perses-operator"]
	path = projects/perses-operator
	url = http://github.com/perses/perses-operator
	branch = main
[submodule "projects/konflux-coo"]
	path = projects/konflux-coo
	url = https://github.com/rhobs/konflux-coo
	branch = release-1.5
[submodule "projects/observability-operator"]
	path = projects/observability-operator
	url = https://github.com/rhobs/observability-operator
	branch = main
[submodule "projects/perses-shared"]
	path = projects/perses-shared
	url = http://github.com/perses/shared
	branch = main
[submodule "projects/perses-plugins"]
	path = projects/perses-plugins
	url = http://github.com/perses/plugins
	branch = main
[submodule "projects/perses-spec"]
	path = projects/perses-spec
	url = http://github.com/perses/spec
	branch = main
